{% load utils %}

{% for p in posts %}
{% if not p.archived or request.user.is_superuser %}
        <div class="post">
            <!--a href="{% url 'post' post_id=p.id %}"><h2>{{p.title}}</h2></a-->
            <h2 style="color: white;">{{p.title}}</h2>
            <img class="post-img" src="{{p.images.first.file.url}}" style="height: 500px; object-fit: cover; width: 100%;">
            <p class="post-body">{{p.body}}</p>
            {% if request.user.is_superuser %}
                {% include "snippets/toggle_archived_button.html" with archived=p.archived post_id=p.id%}
                <a hx-delete="{% url "delete-post" post_id=p.id %}" hx-target="#post-container" hx-swap="innerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    eliminar
                </a>
            {% endif %}
        </div>
{% endif %}
{% endfor %}