{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>obskur blog!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    <header class="header">
        <img class="logo" src="{% static 'logo.png' %}" alt="...">
        <a class="rspace" href="{% url 'posts' %}">posts</a>
        <a class="rspace" href="{% url 'home' %}">inicio</a>
        <!--a class="rspace" href="#">acerca</a-->
        {% if request.user.is_superuser %}
            <a class="rspace" href="{% url 'create-post' %}">crear post</a>
            <a class="rspace" href="{% url 'sign-out' %}">cerrar sesion</a>
        {% endif %}
    </header>
    <div class="main">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
        var particlesConfigPath = "{% static "particles.json" %}";
    </script>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>