{% extends "layouts/base.html" %}
{% load widget_tweaks %}


{% block content %}
<div class="create-post-content">
    <form method="post" enctype="multipart/form-data">
        <div class="form-container">
            {% csrf_token %}
            {% render_field form.title class="form-item" placeholder="titulo" _="on input put event.target.value into #card-title.innerHTML" %}
            {% render_field form.body class="form-item" placeholder="contenido" _="on input put event.target.value into #card-text.innerHTML" %}
            {{ form.files|add_class:"form-item"|attr:"_:on change js document.getElementById('post-img').src = URL.createObjectURL(event.target.files[0]) end"}}
            <button class="form-button" type="submit" >crear post</button>
        </div>
    </form>
</div>
{% endblock content %}