{% extends "layouts/base.html" %}

{% load utils %}

{% block content %}
<div class="d-flex flex-column-reverse flex-lg-row h-100" style="overflow-y: auto;">

    <div class="col">
        <div class="card h-100">
            <div class="card-body d-flex flex-column" style="overflow-y: scroll">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner rounded">
                    </div>
                </div>
                <h5 class="card-title mt-3">{{post.title}}</h5>
                <div id="">
                        {% for img in post.dimages.all %}
                            <img src="{{img.file.url}}" class="d-block mx-auto"
                                style="object-fit: cover; height: 20px; width: 20px" alt="...">
                        {% endfor %}
                </div>
                <p class="card-text">{{post.body}}</p>
            </div>
        </div>
    </div>

    <div id="comment-card" class="col-lg-4 mt-1 mt-lg-0 me-lg-1">
        <div class="card h-100 me-1">
            <div id="comment-box" class="card-body" style="overflow-y: auto;">
                {% include "snippets/comments.html" with comments=post.comments.all %}
            </div>
            <div class="card-body d-flex align-items-end">
                <form class="d-flex w-100" hx-post="{% url "add-comment" post_id=post.id%}" hx-target="#comment-box"
                    hx-swap="innerHTML">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-primary ms-1">comentar</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}